body{
    background-color:cadetblue;
}
h1{
    color: crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}